aiofiles==0.7.0; python_version >= "3.6" and python_version < "4.0"
aiohttp==3.7.4.post0; python_version >= "3.6"
aioredis==2.0.0; python_version >= "3.6"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
cachetools==4.2.4; python_version >= "3.5" and python_version < "4.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.8.0"
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
disnake==2.2.2; python_full_version >= "3.8.0"
genshin==0.1.0; python_version >= "3.8"
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.8.0"
loguru==0.5.3; python_version >= "3.5"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
pillow==8.4.0; python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.8"
python-dotenv==0.19.2; python_version >= "3.5"
sqlalchemy==1.4.27; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
typing-extensions==4.0.0; python_version >= "3.8" and python_full_version >= "3.8.0"
win32-setctime==1.0.3; sys_platform == "win32" and python_version >= "3.5"
yarl==1.7.2; python_version >= "3.8" and python_full_version >= "3.8.0"
